* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}
header {
  padding: 50px;
  text-align: center;
  background-color: brown;
  color: rgb(238, 208, 168);
}

section {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  /*flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  gap: 20px; */
}

.flex-wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70vw;
  height: 100vh;
  gap: 20px;
}

.card {
  width: 270px;
  background-color: rgb(67, 45, 207);
  border-radius: 5px;
  box-shadow: black 2px 2px 5px 1px;
}

.card-header {
  text-align: center;
  background-color: darkcyan;
  padding: 10px 20px 10px 10px;
  border-radius: 5px 5px 0 0;
}

.card-header i {
  color: rgb(57, 212, 223);
}

table {
  width: 100%;
  padding: 10px;
}

tr {
  background-color: cadetblue;
}

td {
  border: 1px solid black;
  padding: 5px;
  margin: 0;
}
